@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
  
<div class="row">
    @foreach (var item in Model.SectionList)
    {
        <div class="col-md-6 section" id="@item.Id">
            ZONE: @item.Id
            <div class="sortable" id="sortable-@item.Id">
                @foreach (var card in item.Cards)
                {
                    <div class="card" data-id="@card.Id">
                        <div class="card-body">
                            @card.Content
                        </div>
                    </div>
                }
                 <div class="empty-placeholder" style="display: none;">This section is empty</div> 
            </div>
        </div>
    }
</div>


@section Scripts {
    <script src="~/js/site.js"></script>
    <style>
 
.section {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    position: relative;
}

.empty-placeholder {
    min-height: 500px;
    display: none; /* Start hidden */
    color: #aaa;
    text-align: center;
    width: 100%;
    pointer-events: none;
}


    </style>
}